IdentityAgent none
IdentitiesOnly yes
IdentityFile %d/.ssh/kincerb_forwarder
ForwardAgent no
ConnectTimeOut 45
StrictHostKeyChecking no
ServerAliveInterval 30
ServerAliveCountMax 3
ControlMaster auto
ControlPath ~/.ssh/socket/%r_%h
ControlPersist 12h
PermitLocalCommand yes
Compression yes
CanonicalDomains tail269af.ts.net lan nucoder.io
CanonicalizeFallbackLocal yes
CanonicalizeHostname yes

Host forward-services
  StdinNull yes
  ForkAfterAuthentication yes
  ExitOnForwardFailure yes
  SessionType none
  LocalForward :3128 127.0.0.1:3128
  LocalForward localhost:8900 127.0.0.1:8900
  LocalForward localhost:8080 127.0.0.1:8080
  LocalForward localhost:3306 127.0.0.1:3306
  LocalForward localhost:6379 127.0.0.1:6379
  LocalForward localhost:1025 127.0.0.1:1025
  LocalForward localhost:8025 127.0.0.1:8025
  LocalForward localhost:8022 127.0.0.1:8022
  Hostname garuda-mate-vm
# vim: ft=sshconfig ts=2 sw=2
