[credential "https://github.com"]
	helper = /home/kincerb/.local/bin/git-helper.py --url https://github.com
[user]
	name = kincerb
	email = dev.bkincer@gmail.com
[core]
	autocrlf = input
[alias]
    h = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # short status
    s = status -sb
    # Saving typing
    c = commit
    d = diff
    co = checkout
    dc = diff --cached
    rh = reset --hard
    am = commit --amend
    cp = cherry-pick
    bls = branch --list -a
    fp = fetch --prune
