sethandler a:vim
let mapleader="\<Space>"
set scrolloff=15
set clipboard^=unnamedplus,unnamed,ideaput
set showmode
set iskeyword-=_
set incsearch
set belloff=all
inoremap jk <ESC>
unmap <A-i>
map <F5> <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>E <Action>(ExecuteInPyConsoleAction)\|<ESC>
map zM <Action>(CollapseAll)
map zm <Action>(ExpandAll)
map gcc <Action>(CommentByLineComment)
map <leader><leader> <Action>(CollapseRegion)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>e <Action>(ExpandRegion)
map <leader>f <Action>(Find)
map K <Action>(QuickJavaDoc)
map ]g <Action>(GotoNextError)
map [g <Action>(GotoPreviousError)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map <leader>R <Action>(RefactoringMenu)
map <leader>g <Action>(ActivateCommitToolWindow)
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>p <Action>(ActivatePythonConsoleToolWindow)
map <leader>s <Action>(ActivateRemoteHostToolWindow)
map <leader>n <Action>(ActivateProjectToolWindow)
map <leader>j <Action>(ActivateJIRAToolWindow)
map <C-j> <Action>(NextSplitter)
map <C-k> <Action>(PrevSplitter)
map <C-w>- <Action>(SplitHorizontally)
map <C-w>\ <Action>(SplitVertically)
map <C-w>m <Action>(MoveEditorToOppositeTabGroup)
map <leader>j <Action>(NextTab)
map <leader>k <Action>(PreviousTab)
map <Tab> <Action>(EditorIndentLineOrSelection)
map <S-Tab> <Action>(EditorUnindentSelection)
map <leader>r V<Action>(ReformatCode)
vmap <leader>r V<Action>(ReformatCode)
vmap <leader>R <Action>(RefactoringMenu)
map == <Action>(ShowIntentionActions)
vmap == <Action>(ShowIntentionActions)
map <leader><Tab> <Action>(Switcher)
vmap <leader><Tab> <Action>(Switcher)
map <leader>. <Action>(GotoFile)
map <leader>C <Action>(CompareActions)
map <leader>N <Action>(NewFile)
map <leader>ga <Action>(Git.Add)
map <leader>gs <Action>(Git.Stash)
map <leader>gp <Action>(Git.Commit.And.Push.Executor)
map <leader>gd <Action>(GitShowDiffWithBranchAction)
" map gd <Action>(QuickImplementations)
map gd <Action>(GotoDeclaration)
map <leader>x <Action>(CloseActiveTab)
